server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/homecraft?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: misc.sample.123@gmail.com
    password: aard kguv xlws oieq
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  key: HomeCraft_Super_Secret_JWT_Key_2025_This_Must_Be_Long

gemini:
  api-key: AIzaSyBZnsoVLg0N8UnQcB6FpR-zFqBNMamzPb4
  model: gemini-2.5-flash

razorpay:
  key-id: rzp_test_SBlrNJC8mbRfiA
  key-secret: fN7xO77yaKWYThmWBJkcjyFd
